@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;800;900&display=swap");
@font-face {
  font-family: "Alegreya Sans SC";
  font-display: swap;
  src: url("../font/AlegreyaSansSC-Light.eot");
  src: local("O"), url("../font/AlegreyaSansSC-Light.woff") format("woff"), url("../font/AlegreyaSansSC-Light.ttf") format("truetype"), url("../font/AlegreyaSansSC-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-display: swap;
  src: url("../font/AlegreyaSansSC-Regular.eot");
  src: local("O"), url("../font/AlegreyaSansSC-Regular.woff") format("woff"), url("../font/AlegreyaSansSC-Regular.ttf") format("truetype"), url("../font/AlegreyaSansSC-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans SC";
  font-display: swap;
  src: url("../font/AlegreyaSansSC-Medium.eot");
  src: local("O"), url("../font/AlegreyaSansSC-Medium.woff") format("woff"), url("../font/AlegreyaSansSC-Medium.ttf") format("truetype"), url("../font/AlegreyaSansSC-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Alegreya Sans SC";
  color: rgb(156, 146, 135);
  font-size: clamp(12px, 1rem + 5vw, 24px);
  font-weight: 300;
}

.wrapper {
  width: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  background-image: url(../img/allX2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

[class*=__container] {
  width: 100%;
  margin: 0 auto;
  padding: 0 5vw;
}

.header {
  background-color: rgb(9, 9, 9);
  width: 100%;
  z-index: 1;
  position: fixed;
}

.header__nav {
  height: clamp(45px, 5vw, 90px);
  padding: 0.3125rem 0 0.3125rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: clamp(120px, 14vw, 270px);
  height: clamp(25px, 3vw, 60px);
}

.header__logo img {
  min-width: clamp(120px, 14vw, 270px);
  min-height: clamp(25px, 3vw, 60px);
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: clamp(10px, 8vw, 180px);
}

.header__menu ul {
  display: flex;
  font-size: clamp(14px, 1.4vw, 27px);
  font-weight: 500;
  width: 100%;
  justify-content: space-around;
}

.header__menu ul li a:hover {
  color: rgb(147, 100, 42);
}

.header__menu ul li a:active {
  background-image: linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__btn {
  display: flex;
  justify-content: center;
  width: clamp(120px, 9vw, 180px);
  height: clamp(25px, 2.5vw, 48px);
  border-radius: 5px;
  border: 1px double transparent;
  background-image: linear-gradient(45deg, rgb(9, 9, 9), rgb(9, 9, 9)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: rgb(147, 100, 42);
  font-weight: 500;
  font-size: clamp(14px, 1.4vw, 27px);
  margin-left: clamp(40px, 6vw, 200px);
}

.header__btn button {
  padding: 0 clamp(20px, 1.5vw, 35px); /* 60/1280 */
}

.header__btn button:hover {
  background-image: linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    position: absolute;
    width: 12px;
    height: 2px;
    margin: 0 auto;
    background-color: rgb(147, 100, 42);
  }
  .header__burger span {
    top: 50%;
  }
  .header__burger:after, .header__burger:before {
    content: "";
  }
  .header__burger:after {
    bottom: 2px;
  }
  .header__burger:before {
    top: 4px;
  }
  .header__menu {
    display: flex;
    position: fixed;
    top: -100%;
  }
  .header__menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: -moz-min-content;
    height: min-content;
    background-color: rgba(9, 9, 9, 0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s ease 0s;
    z-index: -1;
  }
  .header__menu.active > ul {
    margin-top: clamp(44px, 5vw, 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu.active > ul > li {
    font-size: clamp(16px, 4vw, 24px);
    margin: clamp(15px, 1vw, 80px) 0;
  }
  .header__btn {
    display: none;
  }
  .header__btn button {
    padding: 0 clamp(25px, 6vw, 38px); /* 60/1280 */
  }
}
.main-section {
  width: 100%;
  display: flex;
}

.main-section__content {
  width: clamp(285px, 40vw, 800px); /* 490/1280 */
  height: clamp(218px, 26vw, 600px);
  background-color: rgba(16, 15, 15, 0.7);
  border-radius: 20px;
  margin-top: clamp(160px, 13vw, 250px); /* 164/1280 */
  padding: clamp(14px, 2vw, 33px) 10px clamp(24px, 3.1vw, 60px) clamp(24px, 3.1vw, 60px); /* 95/1280 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section__text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(203, 204, 203);
}

.main-section__title {
  font-size: clamp(32px, 3.9vw, 100px);
  font-weight: 500;
}

.main-section__subtitle {
  font-size: clamp(19px, 2.3vw, 70px);
  font-weight: 400;
}

.main-section__subsubtitle {
  font-size: clamp(15px, 1.8vw, 55px);
  font-weight: 300;
}

.main-section__btn {
  display: flex;
  justify-content: center;
  width: clamp(200px, 20vw, 500px);
  height: clamp(40px, 4.1vw, 75px);
  border-radius: 10px;
  border: 1px double transparent;
  background-image: linear-gradient(45deg, rgb(9, 9, 9), rgb(9, 9, 9)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: rgb(255, 255, 255);
  font-size: clamp(20px, 1.8vw, 55px);
  font-weight: 400;
  padding: 0 7.8125%; /* 100/1280 */
}

.main-section__btn button {
  background-image: linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.car-section {
  width: 100%;
}

.car-section__content {
  margin-top: clamp(10px, 27vw, 600px);
}

.car-section__title {
  font-size: clamp(19px, 2.6vw, 50px);
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.car-section__settings {
  font-size: clamp(12px, 1.4vw, 30px);
  font-weight: 500;
  color: rgb(147, 100, 42);
  display: flex;
  -moz-column-gap: clamp(25px, 2vw, 40px);
       column-gap: clamp(25px, 2vw, 40px);
  margin-top: clamp(24px, 3.6vw, 70px);
}

::-webkit-input-placeholder {
  color: rgb(147, 100, 42);
}

::-moz-placeholder {
  color: rgb(147, 100, 42);
}

:-ms-input-placeholder {
  color: rgb(147, 100, 42);
}

.car-section__search > form {
  width: clamp(230px, 28.6vw, 550px);
  height: clamp(25px, 3.1vw, 60px);
  border-radius: 5px;
  border: 1.5px double transparent;
  background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  align-items: center;
}

.car-section__search > form > button {
  margin: 0 clamp(6px, 0.7vw, 15px);
  width: clamp(12px, 1.4vw, 27px);
  height: clamp(12px, 1.4vw, 27px);
}

.car-section__class > form {
  width: clamp(70px, 7vw, 150px);
  height: clamp(25px, 3.1vw, 60px);
  border-radius: 5px;
  border: 1.5px double transparent;
  background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-section__class > form > select {
  background-color: rgb(19, 19, 19);
}

.car-section__passengers > form {
  width: clamp(200px, 20vw, 400px);
  height: clamp(25px, 3.1vw, 60px);
  border-radius: 5px;
  border: 1.5px double transparent;
  background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-section__passengers > form > select {
  background-color: rgb(19, 19, 19);
}

.car-section__horsepower > form {
  width: clamp(120px, 14vw, 280px);
  height: clamp(25px, 3.1vw, 60px);
  border-radius: 5px;
  border: 1.5px double transparent;
  background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-section__horsepower > form > select {
  background-color: rgb(19, 19, 19);
}

.car-section__sortprice > form {
  width: clamp(80px, 13vw, 250px);
  height: clamp(25px, 3.1vw, 60px);
  border-radius: 5px;
  border: 1.5px double transparent;
  background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(to right, rgb(143, 94, 37), rgb(251, 244, 161), rgb(143, 94, 37));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-section__sortprice > form > select {
  background-color: rgb(19, 19, 19);
}

.a1 {
  width: 100vw;
  height: 1000px;
  background-color: aqua;
}/*# sourceMappingURL=style.css.map */